.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

li {
  list-style-type: none;
}

.restaurant {
  margin: 10px;
  border: 1px solid;
  border-radius: 8px;
}
